doctype html
html(lang='en', ng-app='app')
  head
    title Merry Christmas from CodeBuffet &amp; Friends
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Merry Christmas from CodeBuffet & Friends')
    meta(name='author', content='Peter Willemsen')
    link(rel='stylesheet', href='/css/app.css')
        
  body
    .card-text
      .card-text-inner
    .card
      img.tree(src="images/tree.png")
        
      .sleigh
        img(src="images/sleigh.png")
        
      .flakes
        
      .snow
        .snow1
        .snow2
      
  script(src='/js/vendor.js')
  script(src='/js/app.js')
